<div class="absolute top-12 left-4 right-0 z-50 w-4/5 bg-gradient-to-t from-gray-900 to-purple-950 py-10 sm:ml-64">
  <button class="fixed ml-24" (click)="closeView.emit(false)">
    <svg
      class="h-8 w-8 rounded-full bg-gray-100/5 p-1 text-gray-50 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        class=""
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18 17.94 6M18 18 6.06 6"
      />
    </svg>
  </button>
  <section class="left-0 right-0 top-0">
    <div class="mx-40">
      <div class="rounded-xl bg-white shadow-lg">
        
        <div class="items-center justify-between">
          <div class=" ">
            <div class="mx-auto">
              <!-- Card -->
              <div class="flex flex-col p-4 sm:p-10">
                <!-- Grid -->
                <h2
                class="text-purple-600 text-xl font-semibold text-center mb-2"
                >Purchase Order</h2>

                <div class="flex flex-row items-center">
                    <label
                      class="mt-6 text-lg font-bold text-purple-600"
                      >
                      INDENT ID:
                    </label>

                    <input
                      type="text"
                      class="ml-4 mt-4 rounded-lg text-center text-lg font-semibold"
                      [value]="indentNumber"
                      readonly
                    />
                </div>

                <div
                    class="flex flex-row items-center mt-6 space-y-3 md:flex-row md:space-x-4 md:space-y-0"
                    >
                    <label
                        class="text-lg font-semibold text-purple-600"
                        >
                        Head of Account:
                    </label>

                    <select 
                        class="m-4 w-64 rounded-lg border border-gray-500"
                        (change)="selectedHeadOfAcc($event)"
                        [value]="selectedHeadOfAccId"
                        >
                        <option 
                            value="" disabled>Choose Head of Account</option>
                        <option 
                            *ngFor="let head of uniqueProductHeadData"
                            [value]="head.headOfAccId">
                            {{ head.headOfAccName }}
                        </option>
                    </select>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <section *ngIf="isEditProduct" class="fixed left-0 right-0 top-0 z-50">
  <app-edit-product
    [product]="productData"
    (close)="closeEdite($event)"
  ></app-edit-product>
</section> -->
<!-- <section *ngIf="isApproved" class="absolute left-0 right-0 top-0 z-50 h-screen">
  <app-success-pop (close)="closepop($event)"></app-success-pop>
</section> -->
<!-- <section *ngIf="isViewFundDetails" class="absolute left-0 right-0 top-0 z-50 h-screen">
  <app-view-fund-details
      [funder]="funderDetails"
      [reqDetails]="_requestDetails"
      [donarName]="selectedDonorName"
      (selectedFunderList)="onSelectedFunder($event)"
     (close)="close($event)"></app-view-fund-details>
</section> -->
<!-- <section
  *ngIf="isToast"
  class="fixed top-10 z-50 flex w-full items-center justify-center"
>
  <app-warning-toast [message]="warningToastMsg"></app-warning-toast>
</section> -->
<!-- <section *ngIf="isRejectPop">
  <app-cdelete-pop (close)="closepop($event)"></app-cdelete-pop>
</section> -->
<!-- <section *ngIf="isWarningPopup">
  <app-warning-popup (close)="closepop($event)"></app-warning-popup>
</section> -->
