<div
  class="fixed bottom-0 left-0 right-0 top-0 z-20 flex items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-50 backdrop-blur-sm"
>
  <div class="relative h-full w-full max-w-md p-4 md:h-auto">
    
    <div
      class="animate__animated animate__bounceIn animate__faster relative rounded-lg bg-white p-4 text-center shadow dark:bg-gray-800 sm:p-5"
    >   
    <button routerLink="/home/request">
        <svg
          class="absolute top-4 right-4 z-30 p-1 w-8 rounded-lg text-gray-600 hover:bg-red-600 hover:text-white transition-all duration-500 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            class=""
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18 17.94 6M18 18 6.06 6"
          />
        </svg>
      </button>
      <div
        class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-green-100 p-2 dark:bg-green-900"
      >
        <svg
          aria-hidden="true"
          class="h-8 w-8 text-green-500 dark:text-green-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Success</span>
      </div>
      <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">
        Send an OTP to this number: {{number}}
      </p>
      <button
        (click)="fetchConfirmationOtp()"
        type="button"
        class="rounded-lg bg-blue-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        OK
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="isSendOtp"
  class="fixed z-50 top-0 left-0 flex h-screen w-full items-center justify-center bg-black/50"
>   
    <!-- <p>OTP is send</p> -->
  <app-otp></app-otp>
</div>

<!-- <div
  *ngIf="!isSendOtp"
  class="fixed z-50 flex h-screen w-full items-center justify-center bg-black/50"
>   
    <p>Failed to send OTP</p>
  <app-otp></app-otp>
</div> -->

