<div
  class="fixed inset-0 z-20 flex items-center justify-center bg-purple-50"
>
  <!-- <div class="relative h-screen w-full max-w-md p-4 md:h-auto"> -->
    <div class="relative flex flex-col items-center justify-center p-4">
      <div class="flex justify-center">
        <div
          class="inline-block h-12 w-12 animate-spin rounded-full border-[3px] border-current border-t-transparent text-purple-600"
          role="status"
          aria-label="loading"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
