<div
  class="bottom-0 left-0 right-0 top-0 z-20 flex items-center justify-center overflow-y-auto overflow-x-hidden"
>
  <div class="relative h-full w-full max-w-md p-4 md:h-auto">
    <div class="flex flex-auto flex-col items-center justify-center p-4 md:p-5">
      <div class="flex justify-center">
        <div
          class="inline-block size-6 animate-spin rounded-full border-[3px] border-current border-t-transparent text-purple-600"
          role="status"
          aria-label="loading"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
