.price1 {
  @apply me-2 px-2.5 py-0.5 text-xs font-medium text-blue-800;
}
.price2 {
  @apply me-2 px-2.5 py-0.5 text-xs font-medium text-red-800;
}

.animation-translate {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateY(180);
  }

  to {
    transform: rotateY(0);
  }
}

.created {
  @apply me-2 rounded-full bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300;
}
.process {
  @apply me-2 rounded-full bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800  dark:bg-gray-700 dark:text-yellow-300;
}
.rejected {
  @apply me-2 rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-red-900 dark:text-red-300;
}
.completed {
  @apply me-2 rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300;
}

.hold {
  @apply me-2 rounded-full bg-orange-100 px-2.5 py-0.5 text-xs font-medium text-orange-800 dark:bg-green-900 dark:text-green-300;
}

.subMenu {
  @apply font-semibold text-gray-400 hover:text-purple-700;
}
.activeSubMenu {
  @apply font-semibold text-purple-700;
}

/* .date-label{
  color: red;
} */

/* .picker{
  height: 70px;
  padding: 4px;
}

.start-input {
  font-size: 12px;    
  height: 10px;        
  padding: 2px;        
}

.range-input input{
  height: 10px;
  font-size: 8px;
  padding: 2px;
}  */
