<div
    class="fixed bottom-0 left-0 right-0 top-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm"
    >
    <div class="relative h-full w-full max-w-3xl md:h-auto">
        <div class="relative bg-white rounded-lg p-3 shadow dark:bg-gray-800">
            <div class="flex items-center justify-between">    
                <h1 
                    class="text-purple-600 text-lg font-semibold"
                    >Product Details
                </h1>
                <button
                    (click)="closeModal()"
                    type="button"
                    class="ml-auto text-gray-600 rounded-full bg-transparent text-2xl hover:bg-gray-200 p-1.5 dark:hover:text-white dark:hover:bg-gray-200"
                    >
                    <svg
                        aria-hidden="true"
                        class="h-5 w-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                </button>
            </div>

            <div class="mt-4">
                <div class="rounded-lg border overflow-hidden">
                    <div class="max-h-[400px] scroll overflow-y-auto">                    
                        <table
                            class="w-full"
                            >
                            <thead
                                class="bg-purple-500 text-white text-xs font-normal uppercase sticky top-0"
                                >
                                <tr>
                                    <th scope="col" class="px-4 py-3"></th>
                                    <th scope="col" class="px-1 py-3 text-start">Product</th>
                                    <th scope="col" class="px-4 py-3">Ordered Qty</th>
                                    <th scope="col" class="px-4 py-3">Total Received</th>
                                    <th scope="col" class="px-4 py-3">Received This Time</th>
                                    <th scope="col" class="px-4 py-3">Received On</th>
                                </tr>
                            </thead>
                            <tbody
                                class="divide-y divide-gray-200"
                                >
                                @for(poprd of POProductList; track poprd.id; let i = $index){
                                    <tr
                                        class="text-sm text-center text-gray-800"
                                        >
                                        <td class="px-4 py-3">
                                            <input 
                                                type="checkbox"
                                                (click)="toggleCheckBox(poprd, i)"
                                            />
                                        </td>
                                        <td class="px-1 py-3 font-medium text-start">
                                            <p
                                                class="font-bold"
                                                >
                                                {{ poprd.prdmdlName }} - {{ poprd.prdcatgName }}
                                            </p>
                                            <p>
                                                {{ poprd.prdbrndName }} | HOA - {{ poprd.headOfAccName }}
                                            </p>
                                            <p class="text-gray-400 text-justify text-xs">
                                                {{ poprd.prdDescription }}
                                            </p>
                                            @if(poprd.lastReceivedDate !== null){
                                                <p class="text-xs">
                                                    Last Received On:{{ poprd.lastReceivedDate }}
                                                </p>
                                            }
                                        </td>
                                        <td class="px-4 py-3">{{poprd.qty}}</td>
                                        <td class="px-4 py-3">{{poprd.receivedQty}}</td>
                                        <td class="px-4 py-3">
                                            <input 
                                                type="number"
                                                [(ngModel)]="poprd.inputReceivedQty"
                                                [ngClass]="{
                                                    'pointer-events-none': !isEnableInputArray[i]
                                                }"
                                                (input)="updateReceivedQty(poprd)"
                                                class="w-28 rounded-lg text-sm text-gray-800"
                                            />
                                        </td>
                                        <td class="px-4 py-3">
                                            <input 
                                                type="date"
                                                [(ngModel)]="poprd.inputCurrentDate"
                                                [ngClass]="{
                                                    'pointer-events-none': !isEnableInputArray[i]
                                                }"
                                                (input)="updateReceivedDate(poprd)"
                                                class="rounded-lg text-sm text-gray-800"
                                            />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-4 mt-4">
                <button
                    (click)="closeModal()"
                    class="border border-gray-400 px-4 py-2 rounded-lg hover:bg-gray-100"
                    >
                    Cancel
                </button>
                <button
                    (click)="confirmPOPrdStatus()"
                    [disabled]="updatePurchaseOrderForm.invalid || !isEnableConfirmBtn"
                    [ngClass]="{
                        'bg-slate-400': !isEnableConfirmBtn
                    }"
                    class="border px-4 py-2 rounded-lg bg-purple-500 text-white"
                    >
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>