<section *ngIf="isApproved" class="absolute left-0 right-0 top-0 z-50 h-screen">
  <app-success-pop (close)="closepop($event)"></app-success-pop>
</section>
<section *ngIf="isRejectPop">
  <app-cdelete-pop (close)="closepop($event)"></app-cdelete-pop>
</section>
<section
  class="scroll fixed left-0 right-0 h-screen overflow-y-auto bg-black bg-opacity-50"
>
  <div class="flex">
    <div class="w-1/2"></div>
    <div class="animate-slide-in-right w-3/4 bg-white pb-32">
      <div class="sticky top-0 flex items-center justify-between bg-purple-50">
        <div class="m-4">
          <button (click)="this.closeView.emit(false)">
            <svg
              class="h-8 w-8 rounded-lg bg-gray-100 p-1 text-gray-600 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                class=""
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              />
            </svg>
          </button>
        </div>
        <div class="mr-4">
          <h1 class="text-xl font-semibold text-purple-800">View Request</h1>
        </div>
      </div>
      <div class="items-center justify-between">
        <div class=" ">
          <div class="mx-auto">
            <!-- Card -->
            <div class="flex flex-col p-4 sm:p-10">
              <!-- Grid -->
              <div class="flex justify-between">
                <div>
                  <img
                    src="../../../../../assets/Img/logo_apd.png"
                    alt=""
                    class="h-32"
                  />

                  <!-- <h1 class="mt-2 text-lg md:text-xl font-semibold text-blue-600">Preline Inc.</h1> -->
                </div>
                <!-- Col -->

                <div class="text-end">
                  <h2 class="text-2xl font-semibold text-gray-800 md:text-3xl">
                    Request#
                  </h2>
                  <span class="mt-1 block text-gray-500">{{
                    _requestDetails?.requestNo
                  }}</span>

                  <address class="mt-2 font-medium not-italic text-gray-800">
                    {{ _requestDetails.requisitioner }}<br />
                    <!-- {{_requestDetails.empDept }}<br> -->
                  </address>
                </div>
                <!-- Col -->
              </div>
              <div class="mt-8 grid gap-3 sm:grid-cols-2">
                <div>
                  <h3
                    class="text-lg font-semibold text-gray-800 dark:text-neutral-200"
                  >
                    Created By :
                  </h3>
                  <h3
                    class="text-lg font-semibold text-gray-800 dark:text-neutral-200"
                  >
                    {{ _requestDetails.empName }}
                  </h3>

                  <address
                    class="mt-2 not-italic text-gray-500 dark:text-neutral-500"
                  >
                    {{ _requestDetails.empRole }}<br />
                    {{ _requestDetails.branchName }}<br />
                    {{ _requestDetails.empDept }}<br />
                  </address>
                </div>
                <!-- Col -->

                <div class="space-y-2 sm:text-end">
                  <!-- Grid -->
                  <div class="grid grid-cols-2 gap-3 sm:grid-cols-1 sm:gap-2">
                    <dl class="grid gap-x-3 sm:grid-cols-5">
                      <dt
                        class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200"
                      >
                        Date:
                      </dt>
                      <dd
                        class="col-span-2 text-gray-500 dark:text-neutral-500"
                      >
                        {{ _requestDetails.createdOn | date: "dd-MMMM-yyyy" }}
                      </dd>
                    </dl>
                    <dl class="grid gap-x-3 sm:grid-cols-5">
                      <dt
                        class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200"
                      >
                        Time:
                      </dt>
                      <dd
                        class="col-span-2 text-gray-500 dark:text-neutral-500"
                      >
                        {{ _requestDetails.createdOn | date: "shortTime" }}
                      </dd>
                    </dl>
                  </div>
                  <!-- End Grid -->
                </div>
                <!-- Col -->
              </div>
              <!-- Table -->
              <div class="mt-6 flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                  <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg border">
                      <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                          <tr>
                            <th
                              scope="col"
                              class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500"
                            >
                              Product
                            </th>
                            <th
                              scope="col"
                              class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500"
                            >
                              Unit Price
                            </th>
                            <th
                              scope="col"
                              class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500"
                            >
                              Quantity
                            </th>
                            <th
                              scope="col"
                              class="px-6 py-3 text-end text-xs font-medium uppercase text-gray-500"
                            >
                              GST %
                            </th>
                            <th
                              scope="col"
                              class="px-6 py-3 text-end text-xs font-medium uppercase text-gray-500"
                            >
                              Item Price(Incl GST)
                            </th>
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                          <tr
                            *ngFor="
                              let product of _requestDetails.productDetails
                            "
                          >
                            <td
                              class="px-6 py-4 text-start text-sm font-medium text-gray-800"
                            >
                              <p class="font-bold text-black">
                                {{ product.itemName }}
                              </p>
                              <p class="text-gray-800">
                                {{ product.brandName }} {{ product.model }}
                              </p>
                              <p class="w-48 text-xs text-gray-400">
                                {{ product.description }}
                              </p>
                            </td>
                            <td
                              class="px-6 py-4 text-center text-sm text-gray-800"
                            >
                              {{ product.unitPrice | currency: "INR" }}
                            </td>
                            <td
                              class="px-6 py-4 text-center text-sm text-gray-800"
                            >
                              {{ product.qty }}
                            </td>
                            <td
                              class="px-6 py-4 text-center text-sm text-gray-800"
                            >
                              {{ product.gstRate }}
                            </td>
                            <td
                              class="px-6 py-4 text-center text-sm text-gray-800"
                            >
                              {{ product.itemPrice }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Table -->

              <!-- Flex -->
              <div class="mt-8 flex sm:justify-end">
                <div class="w-full max-w-2xl space-y-2 sm:text-end">
                  <!-- Grid -->
                  <div class="grid grid-cols-2 gap-3 sm:grid-cols-1 sm:gap-2">
                    <!-- <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Subtotal:</dt>
                <dd class="col-span-2 text-gray-500">$2750.00</dd>
              </dl> -->

                    <dl class="grid gap-x-3 sm:grid-cols-5">
                      <dt class="col-span-3 font-semibold text-gray-800">
                        Total:
                      </dt>
                      <dd class="col-span-2 text-gray-500">
                        {{ this._requestDetails.totalPrice }}
                      </dd>
                    </dl>

                    <!-- <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Tax:</dt>
                <dd class="col-span-2 text-gray-500">$39.00</dd>
              </dl> -->

                    <!-- <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Amount paid:</dt>
                <dd class="col-span-2 text-gray-500">$2789.00</dd>
              </dl> -->

                    <!-- <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Due balance:</dt>
                <dd class="col-span-2 text-gray-500">$0.00</dd>
              </dl> -->
                  </div>
                  <!-- End Grid -->
                </div>
              </div>
              <!-- End Flex -->

              <!-- Container -->
              <!-- component -->
              <!-- Created By Joker Banny -->
              <div class="flex bg-white">
                <div class="space-y-6 border-l-2 border-dashed">
                  <div class="relative w-full">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-green-500"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <div class="ml-6">
                      <h4 class="font-bold text-green-500">Request Created</h4>
                      <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                        Request Created By {{ _requestDetails.empName }} from
                        {{ _requestDetails.branchName }}
                      </p>
                      <span
                        class="mt-1 block text-sm font-semibold text-gray-500"
                        >{{ _requestDetails.createdOn | date: "medium" }}</span
                      >
                    </div>
                  </div>
                  <div class="relative w-full">
                    <svg
                      *ngIf="_requestDetails.branchAuthorize == 202"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-green-500"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <svg
                      *ngIf="_requestDetails.branchAuthorize == 102"
                      aria-hidden="true"
                      class="absolute -top-0.5 z-10 -ml-3.5 inline h-6 w-6 animate-spin bg-white fill-blue-600 text-gray-200 dark:text-gray-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                    <svg
                      *ngIf="_requestDetails.branchAuthorize == 406"
                      class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 text-red-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <div class="ml-6">
                      <h4
                        [ngClass]="{
                          psts: _requestDetails.branchAuthorize == 102,
                          ssts: _requestDetails.branchAuthorize == 202,
                          rsts: _requestDetails.branchAuthorize == 406
                        }"
                        class="font-bold text-gray-500"
                      >
                        Branch Approval
                      </h4>
                      <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                        {{ _requestDetails.branchAuthStatus }}
                      </p>
                      <p
                        *ngIf="
                          _requestDetails.commends &&
                          _requestDetails.branchAuthorize == 406
                        "
                        class="mt-2 max-w-screen-sm text-sm font-medium text-red-600"
                      >
                        <span class="">Rejected reason :</span
                        >{{ _requestDetails.commendDetail }}
                      </p>
                      <span
                        class="mt-1 block text-sm font-semibold text-gray-500"
                        >{{
                          _requestDetails.branchAuthStatusTime | date: "medium"
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="relative w-full">
                    <svg
                      *ngIf="_requestDetails.adminAuthorize == 405"
                      class="-top-0.1 absolute z-10 -ml-3 h-6 w-6 bg-white text-amber-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <div
                      *ngIf="_requestDetails.adminAuthorize == 426"
                      class="-top-0.1 absolute z-10 -ml-3 h-[22px] w-[22px] rounded-full bg-gray-300"
                    ></div>
                    <svg
                      *ngIf="_requestDetails.adminAuthorize == 202"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-green-500"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <svg
                      *ngIf="_requestDetails.adminAuthorize == 406"
                      class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 text-red-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <svg
                      *ngIf="_requestDetails.adminAuthorize == 102"
                      aria-hidden="true"
                      class="absolute -top-0.5 z-10 -ml-3.5 inline h-6 w-6 animate-spin bg-white fill-blue-600 text-gray-200 dark:text-gray-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                    <div class="ml-6">
                      <h4
                        [ngClass]="{
                          psts:
                            _requestDetails.branchAuthorize == 202 &&
                            _requestDetails.adminAuthorize == 102,
                          rsts: _requestDetails.adminAuthorize == 406,
                          ssts: _requestDetails.adminAuthorize == 202,
                          nsts: _requestDetails.adminAuthorize == 405
                        }"
                        class="font-bold text-gray-500"
                      >
                        Admin Approval
                      </h4>
                      <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                        {{ _requestDetails.adminAuthStatus }}
                      </p>
                      <p
                        *ngIf="
                          _requestDetails.commends &&
                          _requestDetails.adminAuthorize == 406
                        "
                        class="mt-2 max-w-screen-sm text-sm font-medium text-red-600"
                      >
                        <span class="">Rejected reason :</span
                        >{{ _requestDetails.commendDetail }}
                      </p>
                      <span
                        class="mt-1 block text-sm font-semibold text-gray-500"
                        >{{
                          _requestDetails.adminAuthStatusTime | date: "medium"
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div
                *ngIf="
                  (showID && this._requestDetails.branchAuthorize === 102) ||
                  this._requestDetails.adminAuthorize === 102
                "
                class="mt-8 flex gap-3"
              >
                <div>
                  <button
                    type="submit"
                    (click)="approvel()"
                    class="me-2 rounded-lg bg-green-500 px-5 py-2.5 text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
                  >
                    Approve
                  </button>
                </div>
                <div class="">
                  <button
                    type="submit"
                    (click)="this.isRejected = true"
                    class="inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-500 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                  >
                    Reject
                  </button>
                </div>
              </div>
              <!-- 
        <div class="mt-8 sm:mt-12">
          <h4 class="text-lg font-semibold text-gray-800">Thank you!</h4>
          <p class="text-gray-500">If you have any questions concerning this invoice, use the following contact information:</p>
          <div class="mt-2">
            <p class="block text-sm font-medium text-gray-800">examplesite.com</p>
            <p class="block text-sm font-medium text-gray-800">+1 (062) 109-9222</p>
          </div>
        </div> -->

              <!-- <p class="mt-5 text-sm text-gray-500">© 2022 Preline.</p> -->
            </div>
            <!-- End Card -->

            <!-- Buttons -->

            <!-- End Buttons -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  *ngIf="isRejected"
  class="fixed top-0 z-[70] flex h-full w-full items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm"
>
  <div
    class="rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 md:mt-0 xl:p-0"
  >
    <div class="w-[450px] space-y-4 p-6 sm:p-8 md:space-y-6">
      <div
        class="mb-4 flex items-center justify-between rounded-t border-b pb-4 dark:border-gray-600 sm:mb-5"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Reason for rejection
        </h3>
        <button
          (click)="isRejected = false"
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="updateProductModal"
        >
          <svg
            aria-hidden="true"
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <form class="space-y-4 md:space-y-6">
        <div class="sm:col-span-2">
          <div class="relative w-full">
            <label
              for="email"
              class="mb-2 hidden text-sm font-medium text-gray-900 dark:text-gray-300"
              >Email address</label
            >
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                class="h-6 w-6 text-gray-500 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5.983C3 4.888 3.895 4 5 4h14c1.105 0 2 .888 2 1.983v8.923a1.992 1.992 0 0 1-2 1.983h-6.6l-2.867 2.7c-.955.899-2.533.228-2.533-1.08v-1.62H5c-1.105 0-2-.888-2-1.983V5.983Zm5.706 3.809a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Zm2.585.002a1 1 0 1 1 .003 1.414 1 1 0 0 1-.003-1.414Zm5.415-.002a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <select
              #msg
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 pl-10 text-sm text-gray-900 focus:border-purple-500 focus:ring-purple-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-purple-500 dark:focus:ring-purple-500 sm:rounded-none sm:rounded-l-lg"
              placeholder="Enter your email"
            >
              <option
                *ngFor="let commend of commend"
                value=" {{ commend.commendId }}"
              >
                {{ commend.commends }}
              </option>
            </select>
          </div>
        </div>
        <small class="pt-3 text-gray-400"
          >*The Request will not get rejected .If the File is unfinished or
          cancel</small
        >
        <div class="flex gap-3">
          <button
            (click)="rejected(_requestDetails.sno, msg.value)"
            type="submit"
            class="rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
          >
            Reject
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
