<div *ngIf="isUpdate" class="fixed left-0 right-0 top-0 z-40">
  <app-edit-list
    [Id]="updateId"
    (closeUpdate)="update('', $event)"
  ></app-edit-list>
</div>
<div class="p-4 sm:ml-64">
  <section class="dark:bg-gray-900">
    <div class="mx-auto">
      <div
        class="relative overflow-hidden bg-white shadow-md shadow-purple-300 dark:bg-gray-800 sm:rounded-lg"
      >
        <div
          class="flex flex-col items-center justify-between space-y-3 p-4 md:flex-row md:space-x-4 md:space-y-0"
        >
          <div class="w-full">
            <div class="flex items-center justify-between">
              <h1 class="font-semibold text-purple-800">
                <span *ngIf="activeId == 1"> Department List </span>
                <span *ngIf="activeId == 2"> Project/Program List </span>
              </h1>
              <button
                type="button"
                routerLink="/home/addList/{{ activeId }}"
                class="an flex items-center justify-center text-nowrap rounded-lg bg-purple-700 px-4 py-2 text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
              >
                <svg
                  class="mr-2 h-4 w-4"
                  fill="currentColor"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                    d="M5 12h14m-7 7V5"
                  />
                </svg>

                <span *ngIf="activeId == 1"> Department </span>
                <span *ngIf="activeId == 2"> Project/Program </span>
              </button>
            </div>
          </div>
        </div>

        <div class="overflow-x-auto" #test>
          <table
            class="w-full text-left text-sm text-gray-500 dark:text-gray-400"
          >
            <thead
              class="bg-purple-50 text-xs uppercase text-purple-900 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-4 py-3">S.No</th>
                <th scope="col" class="px-4 py-3">
                  <div class="flex items-center justify-between">
                    <span *ngIf="activeId == 1"> Department List </span>
                    <span *ngIf="activeId == 2"> Project/Program List </span>
                  </div>
                </th>

                <th scope="col" class="px-4 py-3">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!isSkeletonLoader">
              <tr
                *ngFor="let p of headOfAccList; let i = index"
                class="border-b transition-all duration-300 hover:bg-gray-50 hover:text-gray-900 dark:border-gray-700"
              >
                <td class="px-4 py-3">{{ getSerialNumber(i) }}</td>
                <th
                  scope="row"
                  class="whitespace-nowrap px-4 py-3 font-medium text-gray-900 dark:text-white"
                >
                  {{ p.deptName ?? p.proName }}
                </th>

                <td class="flex items-center justify-end gap-4 px-4 py-3">
                  <button
                    *ngIf="activeId === '1'"
                    (click)="update(p.departId, true)"
                    class="group inline-flex items-center justify-center rounded-full bg-blue-50 p-1 text-center text-sm font-medium text-gray-500 hover:bg-blue-500 focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                    type="button"
                  >
                    <svg
                      class="h-5 w-5 text-blue-600 group-hover:text-blue-50 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z"
                        clip-rule="evenodd"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="
                      toggledelete(activeId, true, p.programId ?? p.departId)
                    "
                    class="group inline-flex items-center justify-center rounded-full bg-red-50 p-1 text-center text-sm font-medium text-gray-500 hover:bg-red-500 focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                    type="button"
                  >
                    <svg
                      class="h-5 w-5 text-red-600 group-hover:text-red-50 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="isSkeletonLoader">
              <tr
                *ngFor="let _ of [1, 2, 3, 4, 5]"
                class="animate-pulse border-b"
              >
                <td class="px-4 py-3">
                  <div class="h-4 w-8 rounded-lg bg-gray-300"></div>
                </td>
                <td class="px-4 py-3">
                  <div class="h-4 w-56 rounded-lg bg-gray-300"></div>
                </td>
                <td class="flex items-center justify-end gap-4 px-4 py-3">
                  <div class="h-6 w-6 rounded-full bg-gray-300"></div>
                  <div class="h-6 w-6 rounded-full bg-gray-300"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-container *ngIf="noDepartment || noProgram">
          <div
            class="flex h-96 items-center justify-center rounded-lg bg-white px-4"
          >
            <div class="text-center">
              <img
                src="../../../../../assets/Img/9264882.svg"
                class="mx-auto w-52"
                alt="No data available"
              />
              <p class="mt-4 font-medium text-gray-800 dark:text-gray-700">
                {{
                  noDepartment
                    ? "No Department Available"
                    : "No Program Available"
                }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<app-delete
  *ngIf="isDelete"
  [deleteData]="deleteItem"
  (close)="toggledelete(0, false, '')"
></app-delete>
