<section *ngIf="show == 1">
  <div
    class="fixed z-50 mx-auto h-modal w-full items-center justify-center bg-gray-900/50 md:inset-0 md:h-full"
  >
    <div class="relative h-full w-full max-w-md p-4 md:h-auto">
      <div class="flex h-screen w-screen items-center justify-center">
        <div
          class="animate__animated animate__shakeX relative rounded-lg bg-white px-20 py-6 text-center shadow dark:bg-gray-800"
        >
          <button
            (click)="closeSuccess.emit(false)"
            type="button"
            class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="deleteModal"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div
            class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-green-100 p-2 dark:bg-green-900"
          >
            <svg
              aria-hidden="true"
              class="h-8 w-8 text-green-500 dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Success</span>
          </div>
          <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">
            Successfully removed product.
          </p>
          <button
            data-modal-toggle="successModal"
            type="button"
            class="rounded-lg bg-blue-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="show == 2">
  <div
    class="fixed z-50 mx-auto h-modal w-full items-center justify-center bg-gray-900/50 md:inset-0 md:h-full"
  >
    <div class="relative h-full w-full max-w-md p-4 md:h-auto">
      <div class="flex h-screen w-screen items-center justify-center">
        <div
          class="animate__animated animate__shakeX relative rounded-lg bg-white px-20 py-6 text-center shadow dark:bg-gray-800"
        >
          <button
            (click)="closeSuccess.emit(false)"
            type="button"
            class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="deleteModal"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div
            class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-blue-100 p-2 dark:bg-blue-900"
          >
            <svg
              class="h-6 w-6 text-blue-600 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z"
                clip-rule="evenodd"
              />
            </svg>

            <span class="sr-only">Success</span>
          </div>
          <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">
            <span>Transaction ID :</span>
            <span class="ml-2 select-all font-medium text-blue-500">{{
              message
            }}</span>
          </p>
          <!-- <button
            data-modal-toggle="successModal"
            type="button"
            class="rounded-lg bg-blue-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
          >
            Continue
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="show == 3">
  <div
    class="fixed z-50 mx-auto h-modal w-full items-center justify-center bg-gray-900/50 md:inset-0 md:h-full"
  >
    <div class="relative h-full w-full max-w-md p-4 md:h-auto">
      <div class="flex h-screen w-screen items-center justify-center">
        <div
          class="animate__animated animate__shakeX relative rounded-lg bg-white px-20 py-6 text-center shadow dark:bg-gray-800"
        >
          <button
            (click)="closeSuccess.emit(false)"
            type="button"
            class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="deleteModal"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div
            class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-blue-100 p-2 dark:bg-blue-900"
          >
            <svg
              class="h-6 w-6 text-blue-600 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z"
                clip-rule="evenodd"
              />
            </svg>

            <span class="sr-only">Success</span>
          </div>
          <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">
            <span>Request ID :</span>
            <span class="ml-2 select-all font-medium text-blue-500">{{
              message
            }}</span>
          </p>
          <!-- <button
            data-modal-toggle="successModal"
            type="button"
            class="rounded-lg bg-blue-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
          >
            Continue
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="show == 1">
  <div
    class="fixed z-50 mx-auto h-modal w-full items-center justify-center bg-gray-900/50 md:inset-0 md:h-full"
  >
    <div class="relative h-full w-full max-w-md p-4 md:h-auto">
      <div class="flex h-screen w-screen items-center justify-center">
        <div
          class="animate__animated animate__shakeX relative rounded-lg bg-white px-20 py-6 text-center shadow dark:bg-gray-800"
        >
          <button
            (click)="closeSuccess.emit(false)"
            type="button"
            class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="deleteModal"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div
            class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-green-100 p-2 dark:bg-green-900"
          >
            <svg
              aria-hidden="true"
              class="h-8 w-8 text-green-500 dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Success</span>
          </div>
          <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">
            {{ successData }}
          </p>
          <button
            data-modal-toggle="successModal"
            type="button"
            class="rounded-lg bg-blue-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
