<div class="bg-white shadow-md">
  <label for=""
    class="ml-4 font-bold text-purple-600 text-lg"
    >INDENT ID:</label>
  <input 

    type="text" 
    class="rounded-lg font-semibold m-4 text-center text-lg"
    [value]="requestData?.requestNo"
    readonly
  />
  <div>
    <select>
      <option [value]="requestData?.productDetails">
        
      </option>
    </select>
  </div>


  <div
    class="flex flex-row items-center space-y-3 p-4 md:flex-row md:space-x-4 md:space-y-0"
    *ngIf="pdfSrc.length !== 3"
    >
    <div class="w-full md:w-1/2">
      <h3 class="font-semibold text-purple-600 text-lg mb-4">Search Vendor to Upload the Quote</h3>
      <form class="flex items-center" [formGroup]="assignedVendor">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
            <svg
              aria-hidden="true"
              class="h-5 w-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            type="text"
            class="w-full rounded border px-4 py-2"
            id="simple-search"
            class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Search Vendor..."
            formControlName="vendorId"
            [ngClass]="{
              'pointer-events-none': !isEnableSearch
            }"
            required=""
          />
        </div>
        <div *ngIf="noVendor" class="absolute mt-14 text-sm text-red-600">
          <small>No vendor found.</small>
        </div>
        <ul
          *ngIf="storeVendorList &&
          storeVendorList.length > 0"
          class="absolute border-none z-10 w-2/5 mt-24 bg-white rounded-lg border border-gray-300 shadow-lg dark:bg-gray-700 dark:border-gray-600"
          >
            
            <li
              *ngFor="let ven of storeVendorList"
              (click)="onSelectedVendor(ven)"
              class="px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600"
              >
              {{ven.vendorName}}
            </li>
            <li *ngIf="noVendor || storeVendorList.length === 0" class="px-4 py-2 text-sm text-red-500 cursor-pointer">
              No data
            </li>
        </ul>
      </form>
    </div>
    
    <input
    #fileInput
    type="file"
    (change)="onFileSelected($event)"
    accept="application/pdf"
    multiple
    class="hidden"
  />

  <!-- Save Button Triggers File Input Click -->
  <button
    *ngIf="pdfSrc.length !== 3"
    type="button"
    (click)="fileInput.click()"
    [disabled]="!isEnableUploadBtn"
    [ngClass]="{
      'bg-purple-300 hover:bg-purple-300': !isEnableUploadBtn,
      'bg-purple-700 hover:bg-purple-900': isEnableUploadBtn
    }"
    class="rounded-full !mt-8 bg-purple-700 p-3 font-semibold text-white hover:bg-purple-900"
    >
    <svg
      class="h-5 w-5 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        d="M13.383 4.076a6.5 6.5 0 0 0-6.887 3.95A5 5 0 0 0 7 18h3v-4a2 2 0 0 1-1.414-3.414l2-2a2 2 0 0 1 2.828 0l2 2A2 2 0 0 1 14 14v4h4a4 4 0 0 0 .988-7.876 6.5 6.5 0 0 0-5.605-6.048Z"
      />
      <path
        d="M12.707 9.293a1 1 0 0 0-1.414 0l-2 2a1 1 0 1 0 1.414 1.414l.293-.293V19a1 1 0 1 0 2 0v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-2-2Z"
      />
    </svg>
  </button>
  </div>
  
  <!-- Upload Section -->
  <!-- <div
    *ngIf="pdfSrc.length !== 3"
    class="flex w-full items-center justify-center"
  >
    <label
      for="dropzone-file"
      class="dark:hover:bg-bray-800 flex h-20 w-full cursor-pointer flex-col items-center justify-center border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600"
    >
      <div class="flex flex-col items-center justify-center">
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <span class="font-semibold">Click to upload PDF</span>
        </p>
      </div>
      <input
        id="dropzone-file"
        type="file"
        class="hidden"
        (change)="onFileSelected($event)"
        accept="application/pdf"
        multiple
      />
    </label>
  </div> -->

  <!-- PDF Display Section -->
  <div *ngIf="selectedVendorName.length > 0" class="flex">
    <!-- <button
      class="mx-8"
      (click)="showPreviousSlide()"
      [disabled]="currentSlideIndex === 0"
    >
      <div
        [ngClass]="{ disBtn: currentSlideIndex === 0 }"
        class="rounded-full bg-purple-700 p-2"
      >
        <svg
          class="h-6 w-6 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m15 19-7-7 7-7"
          />
        </svg>
      </div>
    </button> -->

    <div>
      <section class="bg-white" *ngIf="selectedVendorName.length > 0">
        <div class="px-4 py-8">
          <h3 class="font-semibold text-lg text-purple-700 mb-4">Vendor Quote Assessment</h3>
          <form action="#" class="grid grid-cols-3 gap-4">
            <ng-container *ngFor="let ven of selectedVendorName; let i = index">
              <div class="col-span-1 border rounded-lg p-2 shadow-md">
                <div class="flex justify-between items-center mb-2">
                  <input 
                  type="text"
                  class="rounded-lg font-medium w-full px-2 py-2 border border-gray-300"
                  [value]="ven.name || ''"
                  readonly
                  />
                  <button
                    *ngIf="selectedVendorName[i].isViewCloseIcon"
                    type="submit"
                    (click)="removeVendor(i)"
                    class="p-2 w-10 h-10 ml-2 rounded-full bg-red-500 text-white flex items-center justify-center"
                    >
                    <svg
                      class="h-6 w-6"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    
                  </button>
                </div>
                <!-- <label
                  for="quote{{ i }}"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
                  >{{ file.name }}</label
                > -->
               
              </div>
              
              
            </ng-container>
          </form>
        </div>
      </section>
      
      <div class="grid grid-cols-3 gap-4 p-4 max-w-full mx-auto">
        
        <div class="relative w-full rounded-lg border border-gray-300 overflow-hidden bg-gray-100 shadow-md group" 
          *ngFor="let pdf of pdfSrc; let i = index">
          <!-- PDF Preview -->
          <button 
            (click)="deleteSlide(i)"
            class="absolute top-2 right-6 hidden group-hover:flex items-center justify-center rounded-full bg-red-600 p-2 text-white hover:bg-red-700"
            >
            <svg class="h-5 w-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
            </svg>
          </button>
    
          <iframe class="w-full h-[150px] border-b border-gray-300" [src]="pdf"></iframe>
          
          <!-- PDF Details -->
          <div class="p-4 bg-white text-black">
            <p class="font-bold m-0">{{selectedVendorName[i].name}}</p>
            <div class="flex items-center gap-1 mt-1">
              <img src="../../../assets/Img/pdf-icon.png" alt="PDF Icon" class="w-[32px] h-[30px]" />
              <span>{{ pdfFiles[i].name }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="my-4 flex items-center justify-end gap-2">
        <button
          (click)="deleteSlide(currentSlideIndex)"
          class="an my-1 flex items-center justify-center rounded-full bg-red-600 p-2 font-semibold text-white hover:bg-red-900"
          >
          <svg
            class="h-5 w-5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div> -->
    </div>
    <!-- <button
      (click)="showNextSlide()"
      class="mx-8"
      [disabled]="currentSlideIndex === pdfSrc.length - 1"
    >
      <div
        [ngClass]="{ disBtn: currentSlideIndex === pdfSrc.length - 1 }"
        class="rounded-full bg-purple-700 p-2"
      >
        <svg
          class="h-6 w-6 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
      </div>
    </button> -->
  </div>

  <!-- Quote Section -->
  <section class="bg-white" *ngIf="pdfSrc.length > 0">
    <div class="mx-auto px-4 py-8 lg:py-16">
      <form action="#" class="grid grid-cols-3 gap-2">
        <ng-container *ngFor="let file of pdfFiles; let i = index">
          <div class="col-span-1 -mt-8">
            <label
              for="quote{{ i }}"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ file.name }}</label
            >
            <input
              type="number"
              class="input-text1 w-full"
              [(ngModel)]="quotes[i]"
              name="quote{{ i }}"
              required
              (input)="updateLeastPrice()"
            />
          </div>
        </ng-container>
      </form>
      <div class="flex flex-col items-end justify-end">
        <p class="mt-4 font-semibold text-purple-700">
          Least Price: <span>{{ leastPrice }}</span>
        </p>
        <button
          *ngIf="pdfSrc.length == 3"
          (click)="uploadPdf()"
          class="an mt-4 -mb-2 rounded-lg bg-purple-700 p-2 px-4 font-semibold text-white hover:bg-purple-900"
          >
          <!-- <svg
            class="h-5 w-5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.383 4.076a6.5 6.5 0 0 0-6.887 3.95A5 5 0 0 0 7 18h3v-4a2 2 0 0 1-1.414-3.414l2-2a2 2 0 0 1 2.828 0l2 2A2 2 0 0 1 14 14v4h4a4 4 0 0 0 .988-7.876 6.5 6.5 0 0 0-5.605-6.048Z"
            />
            <path
              d="M12.707 9.293a1 1 0 0 0-1.414 0l-2 2a1 1 0 1 0 1.414 1.414l.293-.293V19a1 1 0 1 0 2 0v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-2-2Z"
            />
          </svg> -->
          Save
        </button>
      </div>
    </div>
  </section>
</div>
<section
  *ngIf="isToast"
  class="fixed top-10 right-2 left-6 z-50 flex w-full items-center justify-center"
>
  <app-warning-toast [message]="warningToastMsg"></app-warning-toast>
</section>
