<div
  id="toast-success"
  class="animate-topDown flex w-full max-w-sm items-center rounded-lg bg-red-50 p-4 text-red-700 shadow-lg ring-1 ring-red-400/50 dark:bg-gray-800 dark:text-gray-400"
  role="alert"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="h-7 w-7 text-red-500"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
    />
  </svg>

  <span class="sr-only">Check icon</span>

  <div class="ms-3 text-sm font-semibold text-gray-800">{{ message }}</div>
</div>
