<section class="h-screen overflow-scroll bg-black bg-opacity-50">
  <div class="flex">
    <div class="w-1/2"></div>
    <div class="w-2/4 border bg-white shadow-xl animate-slide-in-right">
      <div class="flex items-center justify-between border bg-purple-50">
        <div class="m-4">
          <button (click)="closeViewBranch.emit(false)">
            <svg
              class="h-8 w-8 rounded-lg bg-gray-100 p-1 text-gray-600 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
              viewBox="0 0 24 24">
              <path class="" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6" />
            </svg>
          </button>
        </div>
        <div class="mr-4">
          <h1 class="text-xl font-semibold text-purple-800">View Branch</h1>
        </div>
      </div>
      <form [formGroup]="viewBranchForm">
        <div class="rounded-lg bg-white p-4 transition-all duration-500 md:px-10 md:pb-2 md:pt-6">
          <div class="mb-6 grid gap-6 md:grid-cols-2">
            <div>
              <label for="first_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Branch
                Name</label>
              <input type="text" formControlName="branchName" class="input-form" placeholder="Branch Name" required />
            </div>
            <div>
              <label for="Manager" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Branch
                Manager</label>
              <input type="text" formControlName="manager" class="input-form" placeholder="Manager Name" required />
            </div>
            <div>
              <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Phone</label>
              <div class="relative">
                <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5">
                  <svg class="h-5 w-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z" />
                  </svg>
                </div>
                <input type="text" #phone class="icon-input" formControlName="branchMobilenumber"
                  placeholder="123-456-970" required />
              </div>
            </div>

            <div>
              <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Gst Number</label>
              <input type="text" formControlName="gstNumber" class="input-form" placeholder="Gst" required />
            </div>
          </div>
          <div class="mb-2">
            <label for="Address" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Address</label>
            <input type="text" class="input-form" formControlName="add1"
              placeholder="Flat, House no., Building, Company, Apartment" required />
          </div>
          <div class="mb-6">
            <input type="text" formControlName="add2" class="input-form" placeholder="Area, Street, Sector, Village"
              required />
          </div>
          <div class="mb-6 grid gap-6 md:grid-cols-2">
            <div>
              <label for="country"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Country/Region</label>
              <select class="input-form" #countryvalue formControlName="country"
                (change)="fetchState(countryvalue.value)">
                <option null selected disabled>Choose Country</option>
                <option value="India">India</option>
              </select>
            </div>
            <div>
              <label for="State" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">State</label>
              <select class="input-form" #statevalue formControlName="state" (change)="fetchCity(statevalue.value)">
                <option null selected disabled>Choose State</option>
                <option *ngFor="let state of _state" value="{{ state.sname }}">
                  {{ state.sname }}
                </option>
              </select>
            </div>

            <div>
              <label for="city" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Town/City</label>
              <select class="input-form" formControlName="city" required>
                <option null selected disabled>Choose Town/City</option>
                <option *ngFor="let city of _city" value="{{ city.name }}">
                  {{ city.name }}
                </option>
              </select>
            </div>
            <div>
              <label for="pinCode" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Pincode</label>
              <input type="text" formControlName="pinCode" class="input-form" placeholder="000 000" required />
            </div>
          </div>
          <label for="Pincode" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Department</label>
          <div class="mb-4 grid grid-cols-2 items-center gap-6">
            <div>
              <input type="text" #department formControlName="departments" class="input-form" placeholder="Department"
                required />
            </div>
            <div>
              <button type="button" (click)="addDepartList(department.value)"
                class="mb-2 mt-2 w-full rounded-lg bg-purple-700 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-300 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 active:translate-y-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 sm:w-auto">
                Add Department
              </button>
            </div>
          </div>
          <div>
            <h1 class="mb-4 text-sm font-medium text-gray-500">
              Department List Added
            </h1>
            <ul>
              <li *ngFor="let dep of _department; let i = index"
                class="mb-1 rounded-lg border bg-purple-100 p-2.5 transition-all duration-500 hover:border-gray-300 hover:bg-purple-200">
                <div class="flex items-center justify-between">
                  <div>{{ dep.deptName }}</div>

                  <button (click)="deleteDept(dep.deptId)">
                    <svg class="w-6 text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                    </svg>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="mt-3 flex gap-4">
            <div *ngIf="isEdit">
              <button type="submit" (click)="enableEdit()"
                class="inline-flex items-center rounded-lg bg-purple-700 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-500 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
                <svg class="mr-1 h-5 w-5 text-white" fill="currentColor" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                </svg>

                Edit
              </button>
            </div>
            <div>
              <button (click)="updateBranch(viewBranchForm.value)" type="submit" *ngIf="isSave"
                class="me-2 rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800">
                <svg class="mr-1 inline-flex h-5 w-5 items-center justify-center text-white" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>

                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>