<section>
  <div class="p-4 sm:ml-64">
    <section class="dark:bg-gray-900">
      <div class="mx-auto">
        <div
          class="relative overflow-hidden bg-white shadow-md shadow-purple-300 dark:bg-gray-800 sm:rounded-lg"
        >
          <div class="overflow-x-auto" #test>
            <table
              class="w-full text-left text-sm text-gray-500 dark:text-gray-400"
            >
              <thead
                class="bg-purple-50 text-xs uppercase text-purple-900 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th scope="col" class="px-4 py-3">Logo</th>
                  <th scope="col" class="px-4 py-3">Company Name</th>
                  <th scope="col" class="px-4 py-3">
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="!isSkeletonLoader">
                <tr
                  class="border-b text-base font-medium text-gray-800 transition-all duration-300 hover:bg-gray-50 hover:text-gray-900 dark:border-gray-700"
                >
                  <td class="px-4 py-3">
                    <img
                      *ngIf="companyDetails?.companyLogo; else defaultLogo"
                      [src]="
                        'data:image/png;base64,' + companyDetails?.companyLogo
                      "
                      alt="Company Logo"
                      class="h-16 w-16 rounded-full object-cover shadow-md"
                    />

                    <ng-template #defaultLogo>
                      <div
                        class="flex h-16 w-16 items-center justify-center rounded-full bg-gray-300 shadow-md"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#1f1f1f"
                          class="h-14 w-14 text-gray-600"
                        >
                          <path
                            d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z"
                          />
                        </svg>
                      </div>
                    </ng-template>
                  </td>
                  <td class="px-4 py-3 align-middle">
                    {{ companyDetails?.companyName }}
                  </td>
                  <td class="px-4 py-3 text-right align-middle">
                    <button
                      (click)="updateCompanyDetails()"
                      class="rounded-lg p-0.5 text-center text-sm font-medium text-gray-500 hover:text-gray-800 focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                      type="button"
                    >
                      <svg
                        class="h-5 w-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="isSkeletonLoader">
                <tr *ngFor="let _ of [1]" class="animate-pulse border-b">
                  <td class="px-4 py-3">
                    <div class="h-16 w-16 rounded-full bg-gray-300"></div>
                  </td>
                  <td class="px-4 py-3">
                    <div class="h-4 w-96 rounded-lg bg-gray-300"></div>
                  </td>
                  <td class="px-4 py-3">
                    <div class="h-4 w-8 rounded-lg bg-gray-300"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section
  *ngIf="isViewCompanyDetails"
  class="absolute left-0 right-0 top-0 z-50 h-screen"
>
  <app-view-companydetails
    [companyDetails]="companyDetails"
    (close)="closeCompanyModal($event)"
  ></app-view-companydetails>
</section>
