<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm"
>
  <div
    class="relative w-full max-w-lg rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800 md:h-auto"
  >
    <button
      (click)="onClose()"
      type="button"
      class="absolute right-4 top-4 rounded-full bg-transparent p-2 text-gray-800 hover:bg-gray-300 dark:hover:text-white"
    >
      <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <h2
      class="mb-4 text-left text-xl font-semibold text-purple-600 dark:text-white"
    >
      {{ showCropper ? "Crop Logo" : "Upload Logo" }}
    </h2>

    <div
      class="flex flex-col items-center"
      (drop)="onFileDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      >
      <label
        *ngIf="!showCropper && !croppedImage"
        for="file-upload"
        [class.border-blue-500]="isDragOver"
        [class.bg-blue-50]="isDragOver"
        class="relative mb-4 flex h-40 w-full cursor-pointer flex-col items-center justify-center overflow-hidden rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700"
      >
        <ng-container>
          <svg
            class="mb-4 h-10 w-10 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>

          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Click to Upload or Drag and Drop Logo</span
          >
          <span class="block text-xs text-gray-500 dark:text-gray-400">
            Only PNG files (Max size: 1MB) are allowed
          </span>
        </ng-container>
      </label>

      <input
        id="file-upload"
        type="file"
        (change)="onFileSelected($event)"
        class="hidden"
        accept="image/*"
      />
    </div>

    <ng-container *ngIf="showCropper">
      <div class="flex items-center justify-center">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          format="png"
          [transform]="transform"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          class="crop"
        >
        </image-cropper>
      </div>
    </ng-container>

    <div
      *ngIf="showCropper"
      class="mt-8 flex items-center justify-center gap-4"
    >
      <button
        type="button"
        (click)="decreaseZoom(zoomSlider)"
        class="rounded-md border border-gray-300 px-4 py-0 text-xl font-medium text-gray-700 shadow hover:bg-gray-100"
      >
        -
      </button>
      <div class="relative w-72">
        <div
          *ngIf="showTooltip"
          class="absolute -top-8 left-1/2 -translate-x-1/2 transform rounded bg-purple-500 px-2 py-1 text-xs text-white shadow-md"
          [style.left.px]="tooltipLeft"
        >
          {{ scale }}

          <div class="tooltip-arrow"></div>
        </div>

        <input
          #zoomSlider
          type="range"
          id="zoomSlider"
          min="1"
          max="3"
          step="0.1"
          [(ngModel)]="scale"
          (input)="onZoomChange(zoomSlider)"
          class="h-3 w-full appearance-none rounded-md bg-purple-500 outline-none"
        />
      </div>

      <button
        type="button"
        (click)="increaseZoom(zoomSlider)"
        class="rounded-md border border-gray-300 px-4 py-0 text-xl font-medium text-gray-700 shadow hover:bg-gray-100"
      >
        +
      </button>
    </div>

    <div class="flex justify-end gap-2" *ngIf="showCropper">
      <button
        (click)="onClose()"
        class="mt-6 rounded-lg border border-gray-300 px-4 py-2 text-black hover:bg-gray-100 focus:outline-none"
      >
        Cancel
      </button>
      <button
        (click)="uploadLogo()"
        [disabled]="!croppedBlob"
        [ngClass]="{
          'bg-gray-400 hover:bg-gray-400': !croppedBlob
        }"
        class="mt-6 rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 focus:outline-none"
      >
        OK
      </button>
    </div>
  </div>
</div>

<section
  *ngIf="toastService.isSuccessToast"
  class="fixed top-10 z-50 flex w-full items-center justify-center"
>
  <app-success-toast
    [message]="toastService.successToastMsg"
  ></app-success-toast>
</section>

<section
  *ngIf="toastService.isErrorToast"
  class="fixed top-10 z-50 flex w-full items-center justify-center"
>
  <app-delete-toast [message]="toastService.errorToastMsg"></app-delete-toast>
</section>
