.crop {
  width: auto;
  height: auto;
  object-fit: scale-down;
  background-color: #eee;
}

.tooltip-arrow {
  bottom: 5px;
  left: 33%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #9061f9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

input[type="range"]#zoomSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #9061f9;
  border: none;
}
